body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    overflow-x: hidden;
}

.bg {
    background-image: url("../images/hd/background.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

a {
    text-decoration: none;
    color:inherit;
    transition: all 0.2s linear;
}

p {
    color: white;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

}

a:visited {
    color: inherit;
}

a:hover {
    color: #FDD835;
}

.top-navigator {
    background-color: #212121;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 5px;
}

.logo {
    float: left;
    padding-top: 9px;
}

.links {
    float: left;
    height: 100%;
    width: calc(65% - 200px);
    margin-left: calc(33% - 100px);
}

.link {
    float: left;
    color: white;
    list-style-type:none;
    font-family: 'Karla', serif;
    font-weight: 400;
    line-height: 60px;
    height: 100%;
    width: 100px;
    text-align: center;
}

.link:hover {
    background-color: #ffffff11;
}

.dd {
    position: relative;
    display: inline-block;
    transition: all 0.2s linear;
}

.dd-content {
    display: none;
    position: absolute;
    background-color: #212121;
    width: 200px;
    z-index: 5;
    transition: all 0.2s linear;
}

.dd-content a {
    padding: 5px;
    display: block;
    transition: all 0.2s linear;
}

.dd-content a:hover {
    background-color: #212121;
}

.dd:hover .dd-content {
    display: block;
}

.hero-carousel {
    width: 100%;
    height: 100%;
    min-height: 400px;
    height: auto;
    position: relative;
}


.brand-main {
    width: 100%;
    min-height: 400px;
    height: auto;
    position: relative;
}

.brand-main img {
    width: 100%;
    height: auto;
}

.hero-data {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1))
}

.brandhero {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1))
}

.hero-title {
    color: white;
    font-size: 64px;
    font-weight: 300;
    font-family: 'Quattrocento Sans', sans-serif;
}

.hero-description {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Karla', sans-serif;
}

.promo-cats {
    width: 100%;
    height: 300px;
}

.cat {
    width: 33.33%;
    height: auto;
    background: black;
    float: left;
    transition: all 0.2s linear;
    position: relative;
}

.cat:hover {
    transform: scale(1.05);
    z-index: 10;
}

.cat img {
    width: 100%;
    height: 100%; 
}

.cat-desc {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 25px;
    font-size: 16px;
}

.auth {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    overflow: hidden;

}

.auth img {
    width: 100%;
    min-height: 900px;
    height: auto;
}



.auth-container {
    height: 100%;
    padding: 50px 25px;
    background-color: #00000077;
    color: white;
    position: absolute;
    top:0;
    display: none;
    transition: all 0.2s linear;
}

.auth-tabs {
    font-weight: 700;
    width: 49%;
    height: 65px;
    background: none;
    border: none;
    transition: all 0.2s linear;
    outline:none;
    color: white;
}

.auth-submit {
    width: 100%;
    height: 45px;
    margin: 20px 0;
    background: gold;
    color: black;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.auth-reg {
    width: 300px;
    height: 45px;
    background: none;
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s linear;

}

.auth-reg:hover {
    color: gold;
}

.auth-submit:hover {
    background-color: lightyellow;
}

.auth-tabs:hover {
    color: lightyellow;
    background-color: rgba(255,255,255,0.2);
}

.auth-container .inputs {
    width: 400px;
    height: 45px;
    margin-bottom: 10px;
    outline: none;
    background: #00000066;
    border: none;
    border-bottom: 0 solid gray;
    transition: all 0.2s linear;
    color: white;
    padding: 5px;
    font-family: 'Quattrocento Sans', sans-serif;
    display: block;
}

.auth-container label {
    font-family: 'Quattrocento Sans', sans-serif;
}

.qs {
    font-family: 'Quattrocento Sans', sans-serif;
}

.auth-container input:focus {
    border-bottom: 1px solid lightyellow;
}

.auth-header {
    font-size: 64px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.register-modal {
    z-index: 2;
    width: 100%;
    height: 100%;

}

.logoheader {
    width: 100%;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}

.logoheader img {
    width: auto;
    height: 192px;
}

.brand-description {
    margin: 20px 60px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: lightyellow;
}

.active {
    display: block;
}

.short {
    width: 400px;
}

.short-desc {
    color: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.brand-car {
    width: 360px;
    height: 600px;
    position: relative;
    display: inline-block;
    margin-left: 25px;
    overflow: hidden;
    transition: all 0.2s linear;
}

.brand-car:hover {
    width: 1000px;
    transform: scale(1.05);
    z-index: 10;
}

.car-container {
    vertical-align: middle;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s linear;
}

.brand-car img {
    position: relative;
    height: 100%;
    width: auto;
    left: 100%;
    margin-left: -200%;
}



.car-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.75);
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.deletebutton{
    background: none;
    color: red;
    border: none;
}


::-webkit-scrollbar { 
    width: 0px; /* remove scrollbar space */ 
    background: transparent; /* optional: just make scrollbar invisible */ 
}

.brand-video {
    width: 100%;
    min-height: 500px;
    text-align: center;
    vertical-align: middle;
}

.brand-video iframe {
    width: 80%;
    min-height: 600px;
    height: auto;
}

.video-heading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    margin: 25px;
}

.page-header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 25px;
}

.page-header h1 {
    font-size: 36px;
    font-weight: 200;

}

.page-header h2 {
    font-weight: 700;
}

.checkout-container {
    width: 35%;
    height: 100%;
    background-color: #00000077;
    color: white;
    position: absolute;
    top:0;
    right: 0;
    transition: all 0.2s linear;
    overflow: scroll;
}

.caritem {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}

.caritem-data {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    transition: all 0.2s linear;
}

.caritem-data .display {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 0;
    top: -50%;
}

.cart {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}

.cart-data {
    height: 120px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    transition: all 0.2s linear;
}

.cart-data:hover {
    height: 190px;
    z-index: 5;
}

.cart-data .display {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 0;
    top: -50%;
}

.checkout {
    width: 40%;
    height: 100%;
}

.cart-data .item-name {
    float: left;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    
}


.cart-data .item-data {
    float: right;
    position: absolute;
    margin-right: 25px;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 60px;
}

#showcase {
    transition: all 0.2 linear;
}

.page-header .data {
    float: left;
}

.cobutton {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    background: gold;
    color: black;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.cobutton:hover {
    background: lightyellow;
}

.small-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px !important;
    height: auto !important;
    min-height: 0px !important;
    margin: 5px;
}

.smaller-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px !important;
    height: auto !important;
    min-height: 0px !important;
    margin: 5px;
}

#MainVid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.light-accent {
    color: lightyellow;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
}