#review, #comment
{
    width: 500px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea
{
    resize: none;
}

.review-container
{
    border: 1px solid white;
    width: 800px;
    border-radius: 25px;
    padding: 20px;
    color: white;
}

.comments-container
{
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.comment-container
{
    border: 1px solid white;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    color: white;
}

.delete-container
{
    border: 1px solid white;
    width: 500px;
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
    height: 80px;
    color: white;
}

.editreviewbutton
{
    margin-left: 700px;
}

.deletereviewbutton
{
    margin-top: -46px;
    margin-left: 750px;
}

.editcommentbutton
{
    margin-left: 400px;
}

.deletecommentbutton
{
    margin-top: -46px;
    margin-left: 450px;
}

.deletebutton
{
    margin-top: 10px;
    margin-left: 600px;
}

.addreviewbutton
{
    margin-left: 900px;
}

.addcommentbutton
{
    margin-left: 750px;
}#review, #comment
{
    width: 500px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea
{
    resize: none;
}

.review-container
{
    border: 1px solid white;
    width: 800px;
    border-radius: 25px;
    padding: 20px;
    color: white;
}

.comments-container
{
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.comment-container
{
    border: 1px solid white;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    color: white;
}

.delete-container
{
    border: 1px solid white;
    width: 500px;
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
    height: 80px;
    color: white;
}

.editreviewbutton
{
    margin-left: 700px;
}

.deletereviewbutton
{
    margin-top: -46px;
    margin-left: 750px;
}

.editcommentbutton
{
    margin-left: 400px;
}

.deletecommentbutton
{
    margin-top: -46px;
    margin-left: 450px;
}

.deletebutton
{
    margin-top: 10px;
    margin-left: 600px;
}

.addreviewbutton
{
    margin-left: 900px;
}

.addcommentbutton
{
    margin-left: 750px;
}
