#review, #comment
{
    width: 30%;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea
{
    resize: none;
}

.review-container
{
    border: 1px solid black;
    width: 45%;
    border-radius: 25px;
    padding: 20px;
    color: black;
    margin-top: 20px;
}

.comments-container
{
    width: 55%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
}

.comment-container
{
    border: 1px solid black;
    width: 125%;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    color: black;
}

.delete-container
{
    border: 1px solid black;
    width: 30%;
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
    height: 100px;
    color: black;
}

.editreviewbutton
{
    margin-left: 80%;
}

.deletereviewbutton
{
    margin-top: -5.4%;
    margin-left: 87%;
}

.editcommentbutton
{
    margin-left: 70%;
}

.deletecommentbutton
{
    margin-top: -7.8%;
    margin-left: 80%;
}

.deletebutton
{
    margin-top: -1.5%;
    margin-left: 33%;
}

.addreviewbutton
{
    margin-left: 55%;
}

.addcommentbutton
{
    margin-left: 87%;
}
